.codehilite {
  display: block;
  overflow-x: auto;
  border-radius: 4px;
  padding-left: 1.1em;
  padding-right: 1.1em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  background: #f6f8fa;
  color: #000000;
  border: 1px solid #e1e4e5;
  margin: 1px 0 24px 0;
  -webkit-text-size-adjust: none;
}

.codehilite .nn {
    color: #0e84b5;
    font-weight: bold;
}

.codehilite .kn {
    color: #007020;
    font-weight: normal;
}

.codehilite .k {
    color: #007020;
}

.codehilite .n {
    color: #4070a0;
}

.codehilite .o {
    color: #007020;
}

/*  background: #eeffcc;  */
