.codehilite {
  display: block;
  overflow-x: auto;
  border-radius: 10px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  background: #f6f8fa;
  color: #000000;
  -webkit-text-size-adjust: none;
}

.codehilite .nn {
    color: #0e84b5;
    font-weight: bold;
}

.codehilite .kn {
    color: #007020;
    font-weight: bold;
}

.codehilite .k {
    color: #007020;
    font-weight: bold;
}
